img{
    border: 3px groove black;
}


h1, h2{
    text-align: center;
}
.image{
    text-align: center;
}
.qwe{
   display: flex;
   justify-content: center;
}
.footer{
    display: flex;
    justify-content: center;
}
body{
    background-image:linear-gradient(grey, black);
    color:white;
}
header{
    background-color: darkgrey;
    padding:5px;
}
footer{
    background-color: black;
    margin-top: 25px;
    padding: 15px;
}
